<a href="https://colab.research.google.com/github/mananverma29-oss/ai-sales-insights-aws/blob/main/athena_python_openAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Colab cell: install deps (run once)
!pip install pyathena pandas requests python-dotenv -q

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.1/112.1 kB 3.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.4/139.4 kB 9.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.1/14.1 MB 67.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.7/85.7 kB 6.0 MB/s eta 0:00:00

In [ ]:
import os

os.environ["AWS_ACCESS_KEY_ID"] = "AKIA25O7G6ZK7GJJEQK2"
os.environ["AWS_SECRET_ACCESS_KEY"] = "o8hLkg2EyRjaRNL3gZHDuhusWRnDLgKNH1Lb5OfM"
os.environ["AWS_DEFAULT_REGION"] = "ap-southeast-2"  # or your actual region

In [ ]:
from pyathena import connect
import pandas as pd, json, requests, os

# --- CONFIG: EDIT THESE ---
AWS_REGION = "ap-southeast-2"
AWS_ACCESS_KEY_ID = "---K7GJJEQK2"
AWS_SECRET_ACCESS_KEY = "----DLgKNH1Lb5OfM"                   # or your region
S3_STAGING = "s3://projectbucket-mananverma5yexp/athena_staging/"   # Athena query results
DB = "sales_db"
TABLE = "sales_summary_parquet"   # or "vw_sales_clean" or "sales_data"
# ------------------------

conn = connect(s3_staging_dir=S3_STAGING, region_name=AWS_REGION)

In [ ]:

agg_sql = f"""
SELECT region,
       SUM(sales) AS total_sales,
       SUM(profit) AS total_profit,
       SUM(quantity) AS total_qty,
       AVG(discount) AS avg_discount,
       AVG(target) AS avg_target
FROM {DB}.{TABLE}
GROUP BY region
ORDER BY total_sales DESC
"""

print("Running Athena aggregation...")
df_region = pd.read_sql(agg_sql, conn)
print(df_region)

Running Athena aggregation...

/tmp/ipython-input-3929765382.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_region = pd.read_sql(agg_sql, conn)

    region  total_sales  total_profit  total_qty  avg_discount  avg_target
0     West  725457.8245   108418.4489      12266      0.109335  237.817894
1     East  678781.2400    91522.7800      10618      0.145365  250.252915
2  Central  501239.8908    39706.3625       8780      0.240353  226.561294
3    South  391721.9050    46749.4303       6209      0.147253  253.893827

In [ ]:
# Save aggregated CSV
df_region.to_csv("region_aggregation.csv", index=False)
print("Saved region_aggregation.csv")

Saved region_aggregation.csv

In [ ]:
query_category = """
SELECT
    category,
    region,
    SUM(sales) AS total_sales,
    SUM(profit) AS total_profit,
    AVG(discount) AS avg_discount,
    AVG(target) AS avg_target
FROM sales_db.vw_sales_clean
GROUP BY category, region
ORDER BY total_sales DESC;
"""

df_category = pd.read_sql(query_category, conn)
df_category.to_csv("category_region_aggregation.csv", index=False)
print("Saved category_region_aggregation.csv")

/tmp/ipython-input-2176309197.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_category = pd.read_sql(query_category, conn)

Saved category_region_aggregation.csv

In [ ]:
# OPENAI_API_KEY = "--------------------------lsarDBFmI35UT3BlbkFJ7g6IC5_8xN3tDI2407Dnnn8g-----------------"

# Prepare prompt
table_text = df_region.to_string(index=False)
prompt = f"""
You are a sales analytics consultant. Given this regional aggregated sales data (columns: region, total_sales, total_profit, total_qty, avg_discount, avg_target), provide FOUR concise business insights (bulleted), and TWO clear recommended actions for leadership.

Table:
{table_text}
"""

# Call OpenAI
API_URL = "https://api.openai.com/v1/chat/completions"
headers = {"Authorization": f"Bearer {OPENAI_API_KEY}", "Content-Type": "application/json"}
payload = {
    "model": "gpt-4o-mini",
    "messages": [{"role":"user","content":prompt}],
    "temperature": 0.2,
    "max_tokens": 400
}

resp = requests.post(API_URL, headers=headers, data=json.dumps(payload))
if resp.status_code != 200:
    raise SystemExit(f"OpenAI API error {resp.status_code}: {resp.text}")

ai_text = resp.json()["choices"][0]["message"]["content"].strip()
print("\nAI Summary:\n", ai_text[:200])

with open("ai_summary_output.txt", "w", encoding="utf-8") as f:
    f.write(ai_text)

print("Saved ai_summary_output.txt")

AI Summary:
 ### Business Insights:
- **Sales Performance**: The West region leads in total sales at approximately $725,458, significantly outperforming the Central and South regions, which have sales of $501,240
Saved ai_summary_output.txt